#colors {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;

  .color {
    width: 75px;
    height: 75px;
    display: inline-block;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 1px 1px 3px black;
  }
}